<section class="section">
  <div class="container">
    <div class="features-inner section-inner">
      <div class="features-header text-center">
        <div class="container-sm">
          <h2 class="section-title mt-0">Congratulation!!!</h2>
          <h3>You are an <%= @result.result_text.titleize %></h3>
          <%= link_to 'Start Over', start_over_questions_path, class: 'button button-primary button-block', 'data-turbo': "false" %>
        </div>
      </div>
    </div>
  </div>
</section>
